@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text: #040508;
  --background: #f8f9fc;
  --primary: #4159cd;
  --secondary: #8b9ced;
  --accent: #4a67f3;
  --danger-main: #dc3545;
  --warning-main: #ffc107;
  --info-main: #0dcaf0;
  --success-main: #198754;
}

body {
  --text: #040508;
  --background: #f8f9fc;
  --primary: #4159cd;
  --secondary: #8b9ced;
  --accent: #4a67f3;
  --danger-main: #dc3545;
  --warning-main: #ffc107;
  --info-main: #0dcaf0;
  --success-main: #198754;
}

body.dark {
  --text: #f8f9fc;
  --background: #030407;
  --primary: #324abd;
  --secondary: #b3b6c6;
  --accent: #0c28b6;
  --danger-main: #dc3545;
  --warning-main: #ffca2c;
  --info-main: #31d2f2;
  --success-main: #198754;
}
