@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text: #040508;
  --text-muted: #4b5563;
  --background: #fafafd;
  --surface: #ffffff;
  --primary: #4159cd;
  --primary-foreground: #ffffff;
  --primary-hover: #3948bc;
  --primary-active: #343e99;
  --secondary: #8b9ced;
  --secondary-hover: #707ce4;
  --secondary-active: #5558d6;
  --secondary-foreground: #000000;
  --accent: #4a67f3;
  --accent-hover: #2c46d6;
  --accent-active: #273dac;
  --accent-foreground: #ffffff;
  --danger: #dc3545;
  --danger-hover: #b7192c;
  --danger-active: #99182c;
  --warning: #ffc107;
  --warning-hover: #e29500;
  --warning-active: #bb6902;
  --info: #0dcaf0;
  --info-hover: #01b2d9;
  --info-active: #048db6;
  --success: #198754;
  --success-hover: #186341;
  --success-active: #155237;
  --shadow:
    0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

html {
  --text: #040508;
  --text-muted: #4b5563;
  --background: #fafafd;
  --surface: #ffffff;
  --primary: #4159cd;
  --primary-foreground: #ffffff;
  --primary-hover: #3948bc;
  --primary-active: #343e99;
  --secondary: #8b9ced;
  --secondary-hover: #707ce4;
  --secondary-active: #5558d6;
  --secondary-foreground: #000000;
  --accent: #4a67f3;
  --accent-hover: #2c46d6;
  --accent-active: #273dac;
  --accent-foreground: #ffffff;
  --danger: #dc3545;
  --danger-hover: #b7192c;
  --danger-active: #99182c;
  --warning: #ffc107;
  --warning-hover: #e29500;
  --warning-active: #bb6902;
  --info: #0dcaf0;
  --info-hover: #01b2d9;
  --info-active: #048db6;
  --success: #198754;
  --success-hover: #186341;
  --success-active: #155237;
  --shadow:
    0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

html.dark {
  --text: #cccccc;
  --text-muted: #d1d5db;
  --background: #0f172a;
  --surface: #1f2937;
  --primary: #324abd;
  --primary-foreground: #ffffff;
  --primary-hover: #3d5fd3;
  --primary-active: #517ae0;
  --secondary: #b3b6c6;
  --secondary-hover: #cfd2dd;
  --secondary-active: #e4e5ec;
  --secondary-foreground: #140001;
  --accent: #6366f1;
  --accent-hover: #818cf8;
  --accent-active: #a5b4fc;
  --accent-foreground: #ffffff;
  --danger: #dc3545;
  --danger-hover: #ec474f;
  --danger-active: #f5777a;
  --warning: #ffca2c;
  --warning-hover: #ffdb1b;
  --warning-active: #ffea46;
  --info: #31d2f2;
  --info-hover: #64e5fc;
  --info-active: #a3f1fe;
  --success: #198754;
  --success-hover: #19a061;
  --success-active: #25c278;
  --shadow:
    0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.shadow-base {
  --tw-shadow:
    0 2px 6px rgba(47, 43, 61, 0.14), 0 0 transparent, 0 0 transparent;
  --tw-shadow-colored:
    0 2px 6px var(--tw-shadow-color), 0 0 var(--tw-shadow-color),
    0 0 var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #4159cd;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #8b9ced;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: #1f2937;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #324abd;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #b3b6c6;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
